@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100&family=Oxygen:wght@300&display=swap");

* {
  margin: 0;
}

:root {
  --black-color: black;
  --white-color: white;
  --grey-white: #f8f9fa;
  --orange-color: #f57c00;
  --orange-color-2: #ff9800;
  --yellow-color: #ffc107;
  --gradiente: linear-gradient(
    90deg,
    var(--orange-color) 8%,
    var(--orange-color-2) 62%,
    var(--yellow-color) 95%
  );
  --dark-grey-color: #212121;
  --grey-color: #212121;
  --light-grey: #757575;
  --light-grey-2: #bdbdbd;
  --light-orange: #f8e2c0;
  --font-oxygen: "Oxygen", sans-serif;
  --font-lodrina: "Londrina Solid", cursive;
}
body {
  font-family: var(--font-oxygen);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  align-items: center;
}

.alquila  {
  font-weight: bolder;
  font-size: 40px;
  margin: 1%;
  color: var(--orange-color);
  font-family: var(--font-lodrina);
  text-decoration: none;
}

.alquila a {
  font-weight: bolder;
  font-size: 40px;
  margin: 1%;
  color: var(--orange-color);
  font-family: var(--font-lodrina);
  text-decoration: none;
}

.alquila a:hover {
  font-weight: bolder;
  font-size: 40px;
  margin: 1%;
  color: var(--orange-color);
  font-family: var(--font-lodrina);
  text-decoration: none;
}

.header-menu {
  flex-basis: 70%;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  padding: 0;
}

.header-menu li {
  list-style: none;
  margin: 1%;
  font-family: var(--font-oxygen);
}

.header-menu li:first-child {
  width: 120px;
}

.header-menu li:first-child:hover {
  width: 122px;
}

.header-menu-button {
  background-color: var(--white-color);
  border: 1px solid var(--black-color);
  border-radius: 5px;
  padding: 7px 10px;
}

.header-menu-button:hover {
  cursor: pointer;
  background: var(--gradiente);
  border: 1px solid var(--white-color);
  color: var(--white-color);
  font-weight: 900;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 1rem;
}

.main-title {
  margin-bottom: 3rem;
  position: absolute;
  z-index: 1;
  top: 25%;
  text-align: center;
  width: 60%;
  display: none;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.main-grid img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.imagen-a {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}

.imagen-b {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}

.imagen-c {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: flex-end;
  justify-self: center;
  position: relative;
  top: 20px;
}

.imagen-d {
  grid-column: 4/5;
  grid-row: 1/2;
  align-self: center;
  justify-self: center;
}

.imagen-e {
  grid-column: 5/6;
  grid-row: 1/2;
  align-self: flex-end;
  justify-self: center;
  position: relative;
  top: 20px;
}

.imagen-f {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: flex-start;
  justify-self: center;
}

.imagen-g {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: center;
  position: relative;
  top: 20px;
}

.imagen-h {
  grid-column: 4/5;
  grid-row: 2/3;
  align-self: flex-start;
  justify-self: center;
}

.imagen-i {
  align-self: flex-start;
  justify-self: center;
  position: relative;
  top: 20px;
}

.hr_index {
  position: relative;
  top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.modal-header {
  font-family: var(--font-oxygen);
  font-weight: bolder;
  font-size: 20px;
}

.form input {
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 10px;
  font-family: var(--font-oxygen);
}

.email {
  border-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.password {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid grey;
}

.btn-login {
  background: var(--gradiente);
  border: 1px solid var(--white-color);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0 0 0;
  color: var(--white-color);
  font-weight: 900;
  font-family: var(--font-oxygen);
}

.link-login {
  color: var(--orange-color);
}

.modal-footer {
  font-family: var(--font-oxygen);
}

.modal-footer a {
  text-decoration: none;
}

.modal-footer a:hover {
  color: var(--orange-color);
  font-weight: 900;
}

.registro input {
  border-bottom: none;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.registro textarea {
  border-bottom: none;
  padding: 10px;
}

.registro select {
  border-bottom: 1px solid grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 10px;
}

.registro select:focus {
  border: none;
  box-shadow: 0px 0px 0px 1px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.name {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.formulario {
  border: 1px solid var(--white-color);
  border-radius: 30px;
  padding: 5px 10px;
  background-color: var(--white-color);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.search-input {
  border: 1px solid var(--white-color);
  font-family: var(--font-oxygen);
  font-weight: 900;
}

.img_perfil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nav-item {
  display: flex;
}

.nav-item > a {
  align-self: center;
  font-size: 1.2rem;
}

.search-btn {
  width: 40px;
  height: 40px;
  background-color: var(--orange-color);
  border-radius: 50%;
  border: 1px solid var(--orange-color);
  padding: 5px;
  width: 3rem;
  outline: none;
}

.search-input:focus {
  /* border: 1px solid red; */
  outline: none;
}

main {
  font-family: var(--font-oxygen);
}

main h2 {
  font-weight: 900;
}

main h5 {
  font-weight: 900;
}

.banner-titulo {
  display: none;
  width: 50%;
  padding-left: 5%;
  position: absolute;
  top: 0.8rem;
  font-size: 0.9rem;
  font-family: var(--font-oxygen);
  font-weight: 900;
  margin-bottom: 0;
}

.banner-parrafo {
  display: none;
  width: 50%;
  padding-left: 5%;
  position: absolute;
  top: 4.5rem;
  font-size: 0.8rem;
  font-family: var(--font-oxygen);
  font-weight: 900;
}

.banner-btn {
  position: absolute;
  top: 1.5rem;
  color: var(--white-color);
  font-size: 1rem;
  font-family: var(--font-oxygen);
  font-weight: 900;
  margin-bottom: 0;
  background: var(--gradiente);
  border: 1px solid var(--gradiente);
  border-radius: 5px;
  padding: 7px 10px;
  width: 7rem;
  margin-left: 5%;
}

.banner-btn:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px var(--orange-color);

}

.modal-backdrop
{
    opacity:0.15 !important;
}

.registro .ciudad {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.registro .imagen {
  border-bottom: 1px solid grey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer {
  background-color: var(--grey-white);
  margin: 0px auto;
}

 .lista_footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10%;
  padding: 3% 5%;
  gap: 3%;
}

.lista_footer div {
 flex-grow: 1;
}

.lista_footer ul {
  padding: 0;
}

.lista_footer li {
  list-style: none;
  padding: 5px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}

.logos > div, .copyright {
  margin: 0;
  padding: 1% 5%;
}

.card-img-top {
  height: 196px;
}

.index_aptos {
  color: var(--orange-color);
  font-size: 35px;
  font-weight: 900;
}

.nav-list ul {
  display: none;
  list-style: none;
  padding: 10px;
  position: absolute;
  top: 190px;
  left: 80px;
  z-index: 1;
  width: 130px;
  text-align: end;
  margin: 0px 0px 0px -14px;
  background-color: var(--grey-white);
}

.nav-list:hover ul {
  display: block;
}

.nav-list ul:hover {
  display: block;
}


.nav-list  li {
  margin: 10px 0px;
}

.nav-list> ul li a {
  color: black;
  text-decoration: none;
}

.nav-list ul li a:hover {
  color: var(--orange-color);
  font-weight: 800;
  text-decoration: none;
}

.card-body {
  font-family: var(--font-oxygen);
}

.card-header > h4 {
  font-family: var(--font-oxygen);
  font-weight: 900;
}

.registro .biografia {
  border-bottom: 1px solid gray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.banner-titulo-guest{
  display: none;
  width: 50%;
  padding-left: 5%;
  position: absolute;
  top: 0.8rem;
  font-size: 0.9rem;
  font-family: var(--font-oxygen);
  font-weight: 900;
  margin-bottom: 0;
}

.perfil-img {
  width: 200px;
  height: 200px;
}

/*Inicio media queries*/

@media (min-width: 768px) {
  .header h1 {
    padding-left: 10%;
  }

  .header-menu {
    flex-basis: 50%;
    margin-right: 5rem;
  }

  .main {
    flex-direction: row;
    align-items: center;
  }

  .main-title {
    position: static;
    width: 40%;
    display: block;
    align-items: center;
    padding: 2%;
    box-sizing: border-box;
    margin: auto;
  }

  .main-title p {
    font-size: 40px;
    font-weight: 900;
  }

  .main-title h3 {
    margin: 10px;
    font-weight: 900;
  }

  .main-grid {
    grid-gap: 0px;
    flex-basis: 60%;
  }

  .main-grid img {
    display: block;
    width: 80%;
    border-radius: 10px;
  }
  .imagen-f {
    position: relative;
    top: 10px;
  }

  .imagen-h {
    position: relative;
    top: 10px;
  }
  .imagen-i {
    position: relative;
    top: 30px;
  }

  .banner-titulo {
    display: block;
    width: 40%;
    padding-left: 5%;
    position: absolute;
    top: 1rem;
    font-size: 1.5rem;
    font-family: var(--font-oxygen);
    font-weight: 900;
    margin-bottom: 0;
  }
  
  .banner-parrafo {
    display: block;
    width: 50%;
    padding-left: 5%;
    position: absolute;
    top: 7.5rem;
    font-size: 1.2rem;
    font-family: var(--font-oxygen);
    font-weight: 900;
  }

  .banner-titulo-guest{
    display: block;
    width: 40%;
    padding-left: 5%;
    position: absolute;
    top: 5rem;
    font-size: 1.5rem;
    font-family: var(--font-oxygen);
    font-weight: 900;
  }
  
  .banner-btn {
    position: absolute;
    top: 10.5rem;
    font-size: 0.9rem;
    font-family: var(--font-oxygen);
    font-weight: 900;
    margin-bottom: 0;
    margin-left: 5%;
    width: 11rem;
  }

  .lista_footer {
    flex-wrap: nowrap;
    padding: 3%;
  }

  .nav-list ul {
    top: 70px;
    left: 650px;
  }
  
}

@media (min-width: 1028px) {
  .main {
    flex-direction: row;
    padding: 0 3rem;
  }

  .main-title {
    flex-basis: 35%;
    align-self: center;
  }

  .main-grid {
    flex-basis: 65%;
  }

  .imagen-g {
    top: 30px;
  }

  .imagen-i {
    top: 30px;
  }

  .hr_index  {
    top: 50px;
  }

  .banner-titulo {
    top: 2rem;
    font-size: 2rem;
  }

  .banner-titulo-guest{
    top: 6rem;
    font-size: 2rem;
    
  }
  
  .banner-parrafo {
    top: 10rem;
    font-size: 1.3rem;
  }

  .banner-btn {
    top: 13rem;
    font-size: 1.1rem;
    width: 13rem;
  }

  .lista_footer {
    flex-wrap: nowrap;
    padding: 3% 5%;
  }


  .column1 {
    flex-grow: 1;
  }

  .column2 {
    flex-grow: 1;
  }

  .column3 {
    flex-grow: 1;
  } 

  .nav-list ul {
    top: 70px;
    left: 900px;
  }
}

@media (min-width: 1200px) {
  .main {
    padding: 0 2rem;
  }

  .main-title {
    flex-basis: 30%;
    align-self: center;
  }

  .nav-list {
    margin-right: 5%;
  }

  .banner-titulo {
    width: 35%;
    top: 3rem;
    font-size: 2.3rem;
  }
  
  .banner-parrafo {
    top: 13rem;
    font-size:2rem;
  }
  .banner-titulo-guest{
    top: 7.5rem;
    font-size: 2.5rem;
   
  }

  .banner-btn {
    top: 17rem;
    font-size: 1.5rem;
    width: 17rem;
  }

  .nav-list ul {
    top: 70px;
    left: 1330px;
  }
}
